.ui-text {
  color: white
}

.ui-card {
  flex-direction: column;
  display: flex;
  flex: 0 0 auto;
}

::ng-deep .mat-select-value {
  color: white !important;
  background-color:rgba(41, 42, 61, 0.541) !important;
}

::ng-deep .mat-select-content {
  color: white !important;
  background-color:rgba(41, 42, 61, 0.541) !important;
}
