<mat-card class="ui-card, ui-text"style="background-color:transparent">
  <mat-card-header>Account: {{model.account}}</mat-card-header>
  <mat-card-content class="ui-text">
    <mat-card  class="ui-card, ui-text" style="background-color:rgba(41, 42, 61, 0.541)">
        Player: {{model.player2}} <br>
        Select Profile:
          <mat-form-field class="ui-text">
              <mat-select placeholder="Profile" [(value)]="selectedProfile">
                <mat-option class="ui-text" *ngFor="let profile of model.profiles" [value]="profile.id">
                  {{ profile.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      <mat-card-header class="ui-text"><b>{{model.profiles[selectedProfile].name}}</b><br>
      </mat-card-header>
      <mat-card-content class="ui-text">
       Health: {{model.profiles[selectedProfile].health}} <br>
       Attack: {{model.profiles[selectedProfile].attack}}<br>
       Defense: {{model.profiles[selectedProfile].defense}}<br>
       Accuracy: {{model.profiles[selectedProfile].accuracy}}<br>
       Stamina: {{model.profiles[selectedProfile].stamina}}
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card class="ui-card" style="background-color:rgba(41, 42, 61, 0.541)">
      <button mat-stroked-button class="ui-text" id="searchGame" (click)="searchGame()">Start Matchmaking</button>
      <div [hidden]="!waitingForGame">
        Searching... <br>
         <mat-spinner style="width:50px"></mat-spinner>
      </div>
    </mat-card>
</mat-card>

<!--
<mat-card>
  <mat-card-header><b>Enemy: </b><br>
  </mat-card-header>
  <mat-card-content>

      <form>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="address" value="" [(ngModel)]="model.enemy" [ngModelOptions]="{standalone: true}">
          </mat-form-field><br>
          <mat-form-field>
            <mat-select placeholder="Profile" [(value)]="selectedProfile2">
              <mat-option *ngFor="let profile of model.profiles" [value]="profile.id">
                {{ profile.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <b>{{model.profiles[selectedProfile2].name}}</b><br>
   Health: {{model.profiles[selectedProfile2].health}} <br>
   Attack: {{model.profiles[selectedProfile2].attack}}<br>
   Defense: {{model.profiles[selectedProfile2].defense}}<br>
   Accuracy: {{model.profiles[selectedProfile2].accuracy}}<br>
   Stamina: {{model.profiles[selectedProfile2].stamina}}
  </mat-card-content>
</mat-card>
-->

<!--
<button mat-button id="test" (click)="startTestGame()">Start Game</button>
-->



