<mat-card class="ui-card, ui-text" style="background-color:rgba(41, 42, 61, 0.541)">
    <mat-card-header>Match ID: {{matchId}}: {{model.account}} vs. {{model.opponent}}</mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile>
            <mat-card-content class="coinmon-tile">
                <div>Enemy - {{enemy.class}} ({{enemy.hp}} / {{enemy.maxHP}})</div><br>
                <mat-progress-bar mode="determinate" [value]="enemy.percentHP"></mat-progress-bar>
                <div style="text-align:right">Attack: {{enemy.attack}}</div><br>
                <div style="text-align:right">Defense: {{enemy.defense}}</div><br>
                <div style="text-align:right">Accuracy: {{enemy.accuracy}}</div><br>
                <div style="text-align:right">Stamina: {{enemy.stamina}}</div><br>
            </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile>
          <img [src]="enemy.classPicturePatch" style="height:200px;">
        </mat-grid-tile>
        <mat-grid-tile><img [src]="player.classPicturePatch" style="height:200px"></mat-grid-tile>
        <mat-grid-tile>
            <mat-card-content class="coinmon-tile">
                <div style="text-align:right">Player - {{player.class}} ({{player.hp}} / {{player.maxHP}})</div><br>
                <mat-progress-bar mode="determinate" [value]="player.percentHP"></mat-progress-bar>
                <div style="text-align:right">Attack: {{player.attack}}</div><br>
                <div style="text-align:right">Defense: {{player.defense}}</div><br>
                <div style="text-align:right">Accuracy: {{player.accuracy}}</div><br>
                <div style="text-align:right">Stamina: {{player.stamina}}</div><br>
            </mat-card-content>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-card-content>
  </mat-card>
  <mat-card class="ui-card, ui-text" style="background-color:rgba(41, 42, 61, 0.541)">
  <mat-card-header>Actions</mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile
                *ngFor="let attack of model.attacks">
                <mat-card-content>
               <button mat-stroked-button class="ui-text" (click)="executeAttack(attack.id)">{{attack.name}}</button><br><br>
                {{attack.description}}
              </mat-card-content>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <button mat-stroked-button class="ui-text" (click)="getStats()">Refresh Stats</button>

