<div style="background-image:url('assets/background.jpg'); background-position: center;">
  <mat-toolbar style="background-color:transparent; color: white">CoinMon</mat-toolbar>
  <router-outlet></router-outlet>
</div>
